.contenedor_padre{
    background-image: url('./form.png');
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;
    width: 100vw; 
    height: 100vh;
    
}



.contenedor_hijo{
    background: linear-gradient(135deg rgba(255,255,255,0.1), rgba(255,255,255,0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
    height: 250px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
    
}




.label_1{
    margin-top: 3rem;
    font-weight: bold;
}

.input_user{
    border: 2px solid black ;
    background-color: #030303;
    border-radius: 30px;
    transition: transform .2s ease;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    
}

.input_user:hover{
    transform: scale(1.2);
    
    
}

.label_2{
    margin-top: 2rem;
    font-weight: bold;

}
.input_password{
    border: 2px solid black ;
    background-color: #030303;
    border-radius: 30px;
    transition: transform .2s ease;
    color: rgb(255, 255, 255);
    font-size: 1.2em;

}

.input_password:hover{
    transform: scale(1.2);
}

.Button_submit{
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.Button_submit::before,
.Button_submit::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(
    45deg,
    #ff0d0d,
    #ff7300,
    #fffb00,
    #00ff00,
    #00ffe3,
    #0000ff,
    #ff00ff,
    #ff007f
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  filter: blur(5px);
}

.Button_submit::after {
  filter: blur(20px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.Button_submit:hover::before {
  background-position: right bottom;
}

.Button_submit:hover::after {
  opacity: 1;
  transform: scale(1.1);
}