.navStyle{
    display: flex;
    background-color:#656d4a ;
    width: auto;
    height: auto;
    border: 3px solid #333d29;
    justify-content: right;
}

.contenedor_about{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: center;
    margin-right: 50px;
}

.button_about{
    background-color: #dad7cd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.button_about:hover{
    background-color: #a3b18a;
}

.contenedor_home{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: center;
    margin-right: 150px;

}

.button_home{
    background-color: #dad7cd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

.button_home:hover{
    background-color: #a3b18a;
}

